@mixin font($s: 0.875rem, $w:normal, $c:null, $f:null){
    font-size: $s;
    font-weight: $w;
    font-family: $f;
    color : $c;
}
@mixin size($w:100%, $h:100%){
  width: $w;
  height: $h;
}
@mixin position($t:null ,$l:null, $p:absolute, $r:null ,$b:null){
  position: $p;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}
@mixin background($u:null, $d:center, $s:cover){
  background-image: url("../images/#{$u}");
  background-position: $d center;
  background-size: $s;
  background-repeat: no-repeat;
}
@mixin flex ($j:space-between, $a:center, $d:null){
  display: flex;
  justify-content: $j;
  align-items : $a;
  flex-direction: $d;
}
@function rem($s){
    @return $s/16 +rem;
}
@function em($s, $b){
    @return $s/$b +em;
}
@function vw($s){
    @return $s/19.2 +vw;
}
@function vh($s){
    @return $s/10.24 +vh;
}

@keyframes aboutScale{
    0%{
        transform: scale(1);
        z-index: 0;
    }
    50%{
        transform: scale(1.5);
        z-index: 40;
    }
    100%{
        transform: scale(1);
        z-index: 0;
    }
}
@keyframes textAni{
    from{
        transform: translateY(20%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
body{
    overflow: hidden;
    font-size: rem(20);
    font-family: 'NanumSquare',sans-serif;
    @include size(100vw, 100vh);
    .inner{
        width: vw(1280);
        margin: 0 auto;
    }
}
#wrap{
    position: relative;
    @include size;
    background: #334257;
    padding: vh(80) 0;
    transition: 0.5s;
    header{
        @include position(vh(90), vw(320), $p:fixed);
        z-index: 30;
        #nav{
            @include flex;
            @include font(rem(20), bold, #eee);
            li{
                margin-right: em(50,20);
                position: relative;
                cursor: pointer;
                a{
                    pointer-events: none;
                }
                .under_bar{
                    @include position(100%,0);                    
                    background: #39A2DB;
                    width: 0;
                    height: em(5,20);
                    transition: 0.5s ease-in;
                    pointer-events: none;
                }
                &.on{
                    .under_bar{
                        width: 50%;
                    }
                }
                &:hover{
                    .under_bar{
                        width: 50%;
                    }
                }
            }
        }
    }
    main{
        position: relative;
        border-top: 1px solid #476072;
        border-bottom: 1px solid #476072;
        @include size;
        section{
            visibility: hidden;
            opacity: 0;
            z-index: 0;
            transition: 0.5s ease-in;
            &.on{
                visibility: visible;
                opacity: 1;
                z-index: 10;
            }
        }
        #about{
            display: block;
            height: 100%;
            #pages{
                @include size(400vw, 100%);
                display: flex;
                @include position(0, 0, relative);
                transition: 0.5s;
                li{
                    width: 100vw;
                    height: 100%;
                    @include flex;
                    transition: 0.5s;
                    transform: scale(1);
                    &:nth-child(4){
                        .video{
                            background: #fff;
                            padding: vw(40) vw(40);
                        }
                        h3{
                            @include font(rem(40), bolder, #F7BE16);
                            margin-bottom: vw(40);
                        }
                        ul{
                            @include flex;
                            margin-bottom: vw(100);
                            img{
                                @include size;
                            }
                            &:nth-of-type(1){
                                width: vw(1000);
                                li{
                                    @include size(vw(100),auto)
                                }
                            }
                            &:nth-of-type(2){
                                width: vw(400);
                                li{
                                    opacity: 0.5;
                                    @include size(vw(60),auto)
                                }
                            }
                        }
                    }
                    &.on{
                        animation: aboutScale 0.8s ease-in forwards;
                    }
                    .video{
                        box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
                        position: relative;
                        @include size(vw(1280),vh(700));
                        margin: 0 auto;
                        .black_bg{
                            @include size;
                            @include position(0, 0);
                            background: rgba(0,0,0,0.3);
                        }
                        video{
                            @include size;
                            object-fit: cover;
                        }
                        .text_box{
                            h2{
                                @include font(rem(150), 900, #A2DBFA);
                                text-shadow: 3px 3px 6px rgba(255,255,255,0.5);
                            }
                            h3{
                                @include font(rem(30), bold, #39A2DB);
                                text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
                                width: em(700,30);
                                line-height: em(40,30);
                                margin-left: em(10,30);
                            }
                            @include position($r:-20%, $b:10%);
                        }
                    }
                }
            }
            .scroll_btn{
                @include position($l:50%, $b:4%);
                transform: translateX(-50%);
                @include size(vw(150), vw(20));
                @include flex;
                pointer-events:none;
                span{
                    @include size(vw(20), vw(20));
                    background: #fff;
                    border-radius: 50%;
                    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
                    pointer-events:auto;
                    cursor: pointer;
                }
            }
        }
        #project{
            display: block;
            @include position(0,0);
            @include size;
            .slider{
                @include position(50%, vw(160));
                @include size(50%, vh(500));
                transform: translateY(-50%);
                perspective: 2000px;
                pointer-events: none;
                overflow: hidden;
                .window{
                    display: none;
                    pointer-events:none;
                    &:nth-child(2){
                        .content{
                            .content_list{
                                li:nth-child(3){
                                    background: #000033;
                                    @include flex(center);                                  
                                    video{
                                        @include size(50%, 100%);
                                    }
                                }
                            }
                        }
                    }
                    &.page-1, &.page-2, &.page-3{
                        @include size(vw(600), vh(400));
                        background: rgba(71, 96, 114, 0.4);
                        border-radius: 10px;
                        transition: 0.5s;
                        pointer-events: auto;
                        display: block;
                        @include position(50%, vw(900));
                        transform: translateY(-50%) rotateY(40deg) scale(1);
                        z-index: 10;  
                    }
                    &.page0{
                        @include size(vw(600), vh(400));
                        background: rgba(71, 96, 114, 0.4);
                        border-radius: 10px;
                        transition: 0.5s;
                        pointer-events: auto;
                        display: block;
                        @include position(50%, vh(300));
                        transform: translateY(-50%) rotateY(40deg) scale(1);
                        z-index: 10;  
                    }
                    &.page1{
                        @include size(vw(600), vh(400));
                        background: rgba(71, 96, 114, 0.4);
                        border-radius: 10px;
                        transition: 0.5s;
                        pointer-events: auto;
                        display: block;
                        @include position(50%, vh(200));
                        transform: translateY(-50%) rotateY(30deg) scale(0.8);
                        z-index: 8;
                    }
                    &.page2{
                        @include size(vw(600), vh(400));
                        background: rgba(71, 96, 114, 0.4);
                        border-radius: 10px;
                        transition: 0.5s;
                        pointer-events: auto;
                        display: block;
                        @include position(50%, vh(100));
                        transform: translateY(-50%) rotateY(20deg) scale(0.6);
                        z-index: 6;
                    }
                    &.page3{
                        @include size(vw(600), vh(400));
                        background: rgba(71, 96, 114, 0.4);
                        border-radius: 10px;
                        transition: 0.5s;
                        pointer-events: auto;
                        display: block; 
                        @include position(50%, vh(0));
                        transform: translateY(-50%) rotateY(10deg) scale(0.4);
                        z-index: 4;
                    }
                    .address{
                        display: flex;
                        @include font(rem(8),normal,#EDEDED);
                        margin: vh(14) auto;
                        @include size(80%, vh(14));
                        background: #000033;
                        border-radius: 10px;
                        line-height: vh(14);
                        text-indent: em(10,10);
                        pointer-events: none;
                        img{
                            margin-left: vw(20);
                            @include size(vh(14), vh(14));
                            background: #A2DBFA;
                            display: inline-block;
                        }
                    }
                    .content{
                        position: relative;
                        @include size(98%, 86%);
                        margin: 0 auto;
                        border-radius: 4px;
                        overflow: hidden;
                        pointer-events: none;
                        .content_list{
                            @include position(0, 0);
                            @include flex;
                            @include size;
                            transition: 0.5s ease-in;
                            li{
                                @include size(100%);
                                video{
                                    @include size;
                                    object-fit: fill;
                                }
                            } 
                        }
                    }
                    &.on {
                        transform: translateY(-50%) rotateY(0deg) scale(1);
                        animation: paused;
                        .btn{
                            span{
                                opacity: 0.3;
                                @include background('icons/btn_down.png');
                                &:hover{
                                  @include background('icons/btn_down_hover.png');
                                }
                            }
                        }
                    }
                    .btn{
                        @include position(50%, 10%);
                        @include size(80%, vh(40));
                        @include flex(center);
                        transform: translateY(-50%);
                        pointer-events: none;
                        span{
                            pointer-events: auto;
                            cursor: pointer;
                            transition: 0.2s ease-in;
                            @include size(vh(40), vh(40));
                            @include background('icons/btn_up.png');
                            opacity: 0.3;
                            &:hover{
                              @include background('icons/btn_up_hover.png');
                              opacity: 1;
                            }
                        }
                    }
                }
            }
            .texts{
                position: relative;
                @include position(50%, vw(1180));
                width: 50%;
                li{
                    @include position(0, 0);
                    transform: translateY(-50%);
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.5s ease-in;
                    &.on{
                        visibility: visible;
                        opacity: 1;
                        z-index: 5;
                        h4{
                            animation: textAni 0.5s 0.5s ease-in forwards;
                        }
                        h6{
                            animation: textAni 0.5s 1s ease-in forwards;
                        }
                        h5{
                            animation: textAni 0.5s 1.5s ease-in forwards;
                        }
                        p{
                            animation: textAni 0.5s 2s ease-in forwards;
                        }
                        .launch_btn{
                            animation: textAni 0.5s 2.5s ease-in forwards;
                        }
                    }
                }
                h4{
                    width: vw(460);
                    @include font(rem(40), bolder, #EDEDED);
                    opacity: 0;
                    transform: translateY(20%);
                    
                }
                h6{
                    @include font(rem(18), normal, #0099FF);
                    margin-bottom: em(20,18);
                    margin-top: em(20,18);
                    opacity: 0;
                    transform: translateY(20%);
                }
                h5{
                    @include font(rem(20), bold, #EDEDED);
                    opacity: 0;
                    transform: translateY(20%);
                }
                p{
                    @include font(rem(20), normal, #EDEDED);
                    width: vw(500);
                    margin-bottom: em(20,20);
                    margin-top: em(20,20);
                    opacity: 0;
                    transform: translateY(20%);
                }
                .launch_btn{
                    display: inline-block;
                    @include font(rem(18), bold, #EDEDED);
                    background: #0066CC;
                    padding: em(8,18) em(20, 18);
                    border-radius: 30px;
                    margin-top: vh(30);
                    opacity: 0;
                    transform: translateY(20%);
                }
            }
            .scrollbar{
                @include position($l:50%, $b:10%);
                @include size(vw(460),vh(10));
                background: #476072;
                transform: translateX(-50%);
                border-radius: 20px;
                span{
                    @include position(1px, 0);
                    display: block;
                    @include size(25%, 80%);
                    background: #A2DBFA;
                    border-radius: 20px;
                    transition: 0.5s;
                    pointer-events: none;
                }
            }
        }
        #contact{
            @include position(vh(60),vw(320));
            display: flex;
            align-items: center;
            height: vh(760);     
            .profile{
                @include size(50%, 80%);
                h2{
                    @include font(rem(80), 900, #EFEFEF);
                }
                .profile_index{
                    width: 80%;
                    margin-top: vh(50);
                    display: grid;
                    grid-template-rows: repeat(4,vh(80));
                    li{
                        position: relative;
                        @include font(rem(30), bold, #FFC947);
                        padding: em(20,30) 0;
                        border-bottom: 1px solid #185ADB;
                        span{
                            @include font(rem(18), normal);
                            @include position(50%, em(240,18));
                            transform: translateY(-50%)
                        }
                    }
                }
            }
            .profile_img{
                @include size(45%, 100%);
                margin-left: 5%;
                background: #185ADB;
                position: relative;
                overflow: hidden;
                li{
                    position: absolute;
                    @include size(100%, auto);
                    transition: 1s;
                    img{
                        @include size(100%, 100%);
                    }
                }
            }       
        }
    }
    aside{
        @include position($r:vw(320), $b:vh(90), $p:fixed);
        @include font(rem(14), null, #eee);
        z-index: 30;
        .side_contact{
            @include flex;
            li{
                margin-right: em(35,14);
                transition: 0.5s;
                &:hover{
                    color: #39A2DB;
                }
            }
        }
    }
    footer{
        padding-top: em(20,14);
        @include font(rem(14),normal,#476072);
        @include flex(center);
    }
}
