@charset "utf-8";
:root{
    --main-color:#4DC6F4;
}
body{
    font-family: "roboto","noto sans cjk kr",sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.inner{
    width: 1600px;
    margin: 0 auto ;
    height: 100%;
}
header{
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 24px;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 20px;
}
header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 0;
    background: url(../images/logo.png) center center no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
}
header .nav{
    display: flex;
    align-items: center;
    width: 80%;
}
header .nav li{
    padding: 0 20px;
}
header .nav li:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    transform: translate(0, 12px) scaleX(0);
    transition: 0.5s;
}
header .nav li:hover{
    color: var(--main-color);
}
header .nav li:hover:after{
    transform: translate(0, 12px) scaleX(1);
}
header .icon{
    display: flex;
    align-items: center;
    font-size: 30px;
}
header .icon li{
    padding-left: 20px;
}
header .icon li:hover{
    color: var(--main-color);
}
#visual{
    background: url(../images/vi.png) center -80px no-repeat;
    background-size: cover;
    height: 100vh;
}
#visual .inner{
    position: relative;
}
#visual .title{
    padding: 150px 100px;
    color: #fff;
}
#visual .title h2{
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
}
#visual .title p{
    font-size: 40px;
    padding-left: 10px;
}
#visual .toggle{
    position: absolute;
    left: 0;
    top: 340px;
}
#visual .toggle li{
    border-radius: 40px;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
    text-align: center;
}
#visual .toggle li:hover{
    border-color: var(--main-color);
}
#visual .toggle li span{
    display: inline-block;
    margin-top: 8px;
    border-radius: 40px;
    width: 12px;
    height: 12px;
    background: #fff;
}
#visual .spec{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
}
#visual .spec li{
    width: 385px;
    height: 123px;
    background: rgba(255, 255, 255, 0.5);
    margin-right: 20px;
    text-align: center;
    color: #373737;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#visual .spec li:last-child{
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
}
#visual .spec li:nth-child(3){
    background: rgba(255, 255, 255, 0.8);
}
#visual .spec li span{
    display: block;
    color: #cecece;
    font-size: 24px;
}
#visual .spec li:hover:nth-child(3), #visual .spec li:hover:nth-child(4){
    background-color: var(--main-color);
    color: #fff;
}
h3{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    padding: 50px 0;
}
.btn{
    position: relative;
    left: 50%;
    top: 50px;
    transform: translatex(-50%);
    display: inline-block;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
}
#sedan{
    background: #1d1d1d;
    height: 100vh;
}
#sedan ul{
    display: flex;
    justify-content: space-between;
}
#sedan ul li{
    width: 385px;
    height: 570px;
    position: relative;
    overflow: hidden;
}
#sedan .car{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0 ;
    left: 0;
    transition: 0.5s;
}
#sedan .car p{
    height: 20%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 36px;
    color: #373737;
    font-weight: bold;
}
#sedan .imga{
    background: url(../images/aclass.jpeg) 20% 50% no-repeat;
    background-size: cover;
    height: 100%;
    transition: 0.5s;
}
#sedan .imga video{
    display: none;
    transition: 0.5s;
}
#sedan li .imgc{
    background: url(../images/cclass.jpeg) 20% 50% no-repeat;
    background-size: cover;
    height: 100%;
}
#sedan li .imge{
    background: url(../images/eclass4.jpg) 20% 50% no-repeat;
    background-size: cover;
    height: 100%;
}
#sedan li .imgs{
    background: url(../images/sclass.jpg) left 50% no-repeat;
    background-size: cover;
    height: 100%;
}
.bg{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transition: 0.5s;
}
#sedan h5{
    position: absolute;
    font-size: 200px;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    line-height: 1;
    padding: 20px 30px;
    z-index: 3;
}
#sedan h5 span{
    font-size: 50px;
    padding-left: 20px;
}
#sedan li:hover .car{
    top: -110px;
}
#sedan li:hover .bg{
    background: rgba(0, 0, 0, 0);
}
#sedan li:hover .imga{
    background: none;
    width: 100%;
}
#sedan li:hover video{
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100%;
    top: -150px;
    left: 0;
    z-index: 1;
}
#suv{
    background: #333;
    height: 100vh;
    position: relative;
}
#suv ul{
    display: flex;   
    justify-content: space-between;
    height: 600px;
}
#suv ul li{
    width: 250px;
    height: 500px;
    transform: skew(-10deg);   
}
#suv ul li .hover{
    opacity: 0;
}
#suv li:not(:first-child) h3{
    display: none;
}
#suv ul li div:nth-child(1){
    width: 100%;
    height: 100%;
    background: url(../images/gla.jpg) 20% center no-repeat;
    background-size: cover;
}
#suv ul li:nth-child(2){
    align-self: flex-end;
    margin-right: 32px;
}
#suv ul li:nth-child(2) div:nth-child(1){
    background: url(../images/glc.jpeg) 40% center no-repeat;
    background-size: cover;
}
#suv ul li:nth-child(3) div:nth-child(1){
    background: url(../images/gclass.jpeg) 50% center no-repeat;
    background-size: cover;
}
#suv ul li:nth-child(4) div:nth-child(1){
    background: url(../images/gle.jpg) 70% center no-repeat;
    background-size: cover;
}
#suv ul li:nth-child(4){
    align-self: flex-end;
    margin-right: 32px;
}
#suv ul li:nth-child(5) div:nth-child(1){
    background: url(../images/gls.jpg) 70% center no-repeat;
    background-size: cover;
}
#suv ul li:last-child{
    margin: 0;
}
#suv ul li:hover .bg{
    display: none;
}
#suv ul li .hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#social{
    background: #1d1d1d;;
    height: 100vh;
}
#social .s_nav{
    color: #fff;
    display: flex;
    width: 20%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#social .s_nav li:after{
    display: block;
    margin-top: 10px;
    content: "";
    height: 2px;
    width: 100%;
    transform: scalex(0);
    background: var(--main-color);
    transition: 0.5s;
}
#social .s_nav li:hover{
    color: var(--main-color);
}#social .s_nav li:hover:after{
    transform: scalex(1);
}
#social .s_img{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 130px);
    gap: 5px;
}
#social .s_img li{
    position: relative;
    overflow: hidden;
}
#social .s_img li:nth-child(1){
    grid-area: 1/1/3/3;
    background: url(../images/img1.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(2){
    grid-area: 1/3/2/5;
    background: url(../images/img2.jpeg) center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(3){
    grid-area: 1/5/3/6;
    background: url(../images/img3.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(4){
    background: url(../images/img4.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(5){
    grid-area: 2/6/3/7;
    background: url(../images/img5.jpg) top center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(6){
    grid-area: 2/3/3/5;
    background: url(../images/img6.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(7){
    grid-area: 3/1/5/5;
    background: url(../images/img7.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(8){
    background: url(../images/img8.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(9){
    background: url(../images/img9.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(10){
    background: url(../images/img10.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img li:nth-child(11){
    background: url(../images/img11.jpg)center center no-repeat;
    background-size: cover;
}
#social .s_img img{
    width: 100%;
}
#social .s_sub{
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}
#social h6{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
}
#social p{
    font-size: 12px;
    color: #fff;
}
#social .s_img li:hover .s_sub{
    bottom: 0;
}
footer{
    background: #333;
}
.t_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding: 20px 0;
}
.t_menu select{
    height: 24px;
    background: #333;
    color: #fff;
    align-self: flex-end;
    font-size: 18px;
}
.depth1{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}
.depth1 ul{
    margin-top: 40px;
}
.depth1 li li{
    font-size: 12px;
    padding-right: 20px;
    line-height: 4;
    color: #9c9c9c;
}
address{
    padding: 40px 0;
    color: #9c9c9c;
}